/*----------------------------------------------BODY------------------------------------------*/
* {
  margin: 0px;
  padding: 0px; }

body {
  height: auto;
  background-color: #F2F2F2; }

/*----------------------------------------------HEADER-----------------------------------------*/
header {
  height: 230px;
  width: 100%;
  background-color: #A5A697; }
  header #titulosheader {
    display: flex;
    justify-content: space-between;
    width: 60%; }
    header #titulosheader .titulos-contenedor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      header #titulosheader .titulos-contenedor #tituloUno {
        font-family: "Dancing Script", cursive;
        font-size: 50px;
        color: #F2F2F2;
        text-shadow: 3px 3px 3px black; }
      header #titulosheader .titulos-contenedor #tituloDos {
        font-family: "EB Garamond", serif;
        font-size: 40px;
        color: #DDB7AC;
        text-shadow: 3px 3px 3px black; }
    header #titulosheader #logopng {
      height: 100px;
      width: 100px; }

/*---------------------------------------------NAV-----------------------------------------*/
nav {
  background-color: #F2F2F2;
  padding: 20px 0px 20px 0px;
  text-align: center; }
  nav ul {
    list-style-type: none;
    font-family: "EB Garamond", serif;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px; }
    nav ul li a {
      color: #A5A697;
      text-decoration: none;
      display: block;
      padding-top: 6%;
      padding-bottom: 6%; }

nav ul li a:hover {
  background-color: #DDB7AC; }

/*-----------------------------------------MAIN INDEX------------------------------------*/
#indexLayout {
  display: grid;
  background-color: #F2F2F2; }

#carouselExampleControls {
  grid-area: carousel; }

#sectionUno {
  height: 90%;
  width: auto;
  grid-area: banner; }

#imgTupper {
  grid-area: section1;
  justify-self: center;
  align-self: center;
  padding-top: 5%;
  padding-left: 3%; }
  #imgTupper .fotoTupper {
    border: solid 7px #A5A697;
    height: 90%;
    width: 90%; }

.estiloDescripcion {
  height: 50px;
  width: 400px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 1;
  color: #DDB7AC;
  text-shadow: 3px 3px 3px #ebcec6;
  text-align: justify;
  padding-top: 10%; }

#descTupper {
  height: 50px;
  width: 400px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 1;
  color: #DDB7AC;
  text-shadow: 3px 3px 3px #ebcec6;
  text-align: justify;
  padding-top: 10%;
  grid-area: section2;
  align-self: stretch; }

#descEssen {
  height: 50px;
  width: 400px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  line-height: 1;
  color: #DDB7AC;
  text-shadow: 3px 3px 3px #ebcec6;
  text-align: justify;
  padding-top: 10%;
  grid-area: section3; }

.pieDeFoto {
  font-family: "Dancing Script", cursive;
  color: #737272;
  text-shadow: 3px 3px 3px #A5A697;
  text-align: center;
  font-size: 40px; }

#imgEssen {
  grid-area: section4;
  padding-top: 5%;
  padding-left: 3%; }
  #imgEssen #fotoEssen {
    border: solid 7px #A5A697;
    height: 90%;
    width: auto; }

/*----------------------------------MAIN PRODUCTOS--------------------------------------*/
#subtitulo {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #737272;
  text-shadow: 3px 3px 3px #A5A697; }

.banner {
  height: 250px;
  width: auto; }

.subt-prod {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  color: #DDB7AC;
  text-shadow: 3px 3px 3px black; }

.lista-prod {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #737272; }

.col-md-12 {
  justify-items: center;
  align-items: space-evenly; }

.col-md-6 {
  justify-content: center;
  align-content: space-around; }

/*------------------------------------MAIN SHOP-----------------------------------------*/
#bannerShop {
  height: auto;
  width: 100%; }

.subtitle, .preguntas {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #737272;
  text-shadow: 3px 3px 3px #fffcfc;
  text-align: center;
  background-color: #ebcec6; }

.lista, .listaDos {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  padding-top: 10%;
  padding-left: 20%; }

.preguntas {
  color: #F2F2F2;
  text-shadow: 3px 3px 3px #F2F2F2;
  background-color: #A5A697; }

.pedido {
  padding-top: 3%;
  padding-bottom: 3%; }

.botonesShop {
  padding-top: 5%;
  padding-left: 20%; }

/*-------------------------MAIN CONTACTO------------------------*/
#contactoLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#bannerContacto {
  height: auto;
  width: 100%; }

fieldset legend {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: bold;
  color: #737272;
  text-shadow: 3px 3px 3px #eedfdf; }

.botones {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #737272;
  font-weight: bold; }

fieldset {
  background-color: #ebcec6;
  width: 600px;
  padding: 20px 20px 20px 20px;
  text-align: justify;
  line-height: 1.5; }

/*---------------------------------------MAIN RECETAS----------------------------------*/
#layoutRecetas {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

#bannerRecetas {
  height: auto;
  width: 100%; }

#recetaUno, #recetaTres {
  background-image: linear-gradient(to right, #ebcec6, #DDB7AC); }

#recetaDos {
  background-image: linear-gradient(to right, #A5A697, #737272); }

.lista, .listaDos {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  color: #737272; }

.listaDos {
  color: #ebcec6; }

.subtitle, .preguntas {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  color: #737272; }

/*----------------------------------------FOOTER-------------------------------------*/
footer {
  background-color: #A5A697;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }

#news, #redes {
  font-family: "Dancing Script", cursive;
  color: #DDB7AC;
  font-size: 30px;
  text-align: center; }

#redes {
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#redes ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 20px 0px; }

footer div ul {
  list-style: none;
  display: flex;
  flex-direction: row; }

/*-----------------------------------------MEDIA QUERIS--------------------------------------*/
@media only screen and (max-width: 576px) {
  /*----------HEADER---------*/
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50%; }
  #tituloUno {
    font-size: 30px; }
  #tituloDos {
    font-size: 20px; }
  #logopng {
    height: 80px;
    width: auto; }
  /*----------MAIN INDEX----------*/
  #indexLayout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "carousel" "banner" "section1" "section2" "section3"  "section4"; }
  .bannerIndex {
    width: 50%;
    height: auto; }
  #sectionUno {
    height: 90%;
    width: 100%;
    grid-area: banner; }
  #imgTupper {
    grid-area: section1;
    justify-self: center;
    align-self: center;
    padding-top: 2%;
    padding-left: 2%; }
  .pieDeFoto {
    font-size: 22px; }
  #descTupper {
    height: 100px;
    width: auto;
    font-size: 18px;
    grid-area: section2;
    justify-content: center;
    align-content: center; }
  #imgEssen {
    grid-area: section3;
    padding-top: 2%;
    padding-left: 2%; }
  #descEssen {
    height: 100px;
    width: auto;
    font-size: 18px;
    grid-area: section4;
    justify-content: center;
    align-content: center; }
  #fotoEssen {
    border: solid 7px #A5A697;
    height: 90%;
    width: auto; }
  /*------------MAIN CONTACTO-----------*/
  #formulario {
    height: 50%;
    width: auto; }
  /*----------FOOTER---------*/
  footer {
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  #news, #redes {
    font-size: 12px; }
  #redes {
    font-size: 12px; }
  #redes ul {
    padding: 8px 0px; } }

@media only screen and (min-width: 576px) {
  /*----------HEADER---------*/
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60%; }
  #tituloUno {
    font-size: 30px; }
  #tituloDos {
    font-size: 20px; }
  #logopng {
    height: 100px;
    width: auto; }
  /*---------NAV----------*/
  nav {
    padding: 0%; }
  nav ul {
    padding: 5px 0px 5px 0px; }
  /*----------MAIN INDEX----------*/
  #indexLayout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "carousel" "banner" "section1" "section2" "section3"  "section4";
    justify-items: center; }
  /*---------FOOTER---------*/
  footer {
    height: 80px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  #news, #redes {
    font-size: 15px; }
  #redes {
    font-size: 15px; }
  #redes ul {
    padding: 10px 0px; } }

@media only screen and (min-width: 992px) {
  /*----------HEADER---------*/
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
  /*---------NAV----------*/
  nav {
    padding: 1%; }
  nav ul {
    padding: 5px 0px 5px 0px; }
  /*-----------MAIN INDEX----------*/
  #indexLayout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 30% 30%;
    grid-template-areas: "carousel carousel" "banner banner" "section1 section2" "section3 section4"; }
  /*----------FOOTER---------*/
  footer {
    height: 20%;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; } }

@media only screen and (min-width: 1200px) {
  /*-----------MAIN INDEX----------*/
  #indexLayout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 30% 30%;
    grid-template-areas: "carousel carousel" "banner banner" "section1 section2" "section3 section4"; } }
